.card {
  width: 80%;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-header {
  text-align: center;
}

.alert {
  width: 80%;
  margin: 10px auto;

}

ul {
  width: 100%;
  padding: 0;
  list-style: none;
}

body {
  background-color: #e3e3e3;
}